/*  your css code here. If applicable */

.grid-container{
    width: 400px;
    height: 400px;
    display: grid;
    gap: 10px;
    /*grid-template-columns: 40px repeat(3,100px) 160px;
    grid-template-rows: repeat(5, 100px);
    margin-bottom: 200px;*/
    grid-template-areas: 
    "s a b"
    "l c d"
    "m e f"
}
.gr1{
	grid-area: s;
	border: 1px solid;
}

.gr2{
	border: 1px solid;
    grid-area: a;
}

.gr3{
	border: 1px solid;
    grid-area: b;
}

.gr4{
	border: 1px solid;
    grid-area: c;
}
.gr5{
	border: 1px solid;
    grid-area: d;
}
.gr6{
	border: 1px solid;
    grid-area: f;
}

.gr7{
	border: 1px solid;
    grid-area: e;
}

.gr8{
	border: 1px solid;
}
.gr9{
	border: 1px solid;
}

#input{
	margin-top: 20px;
}
#block_id{
	width: 200px;
	height: 20px;
	margin-right: 20px;
}
#color_id{
	width: 150px;
	height: 30px;
}

#reset{
	margin-top: 20px;
	width: 150px;
	height: 25px;
	background-color: white;
}
#change_button{
	width: 150px;
	height: 25px;
	background-color: white;
	margin-right: 20px;
}